<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="/css/materialize.css"  media="screen,projection"/>
        <!--Let browser know website is optimized for mobile-->
        <link type="text/css" rel="stylesheet" href="/css/myStyle.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>		
    </head>
    <body>
        <header>
            <nav>
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo">Logo</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="#">Sass</a></li>
                        <li><a href="#">Components</a></li>
                        <li><a href="#">JavaScript</a></li>
                    </ul>
                </div>
            </nav>            
        </header>
        <div class="container">
			{% block home %}
			{% endblock %}                  
        </div>
        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="/js/jquery-3.0.0.js"></script>
        <script type="text/javascript" src="/js/materialize.js"></script>        
    </body>
</html>