{% extends 'layout.html' %}

{% block header %}
<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
	<li><a href="#">Perfil</a></li>
	<li><a href="#">Ajustes</a></li>
	<li class="divider"></li>
	<li><a href="/users/login">Salir</a></li>
</ul>            
<div class="navbar-fixed">
	<nav>
		<div class="nav-wrapper">
			<a href="#" class="brand-logo">Logo</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/home/gallery">Galeria<i class="material-icons right">collections</i></a></li>
				<li><a href="/home/upload">Subir Archivos<i class="material-icons right">file_upload</i></a></li>
				<!-- Dropdown Trigger -->
				<li><a class="dropdown-button" href="#" data-activates="dropdown1">{{user.userName}}<i class="material-icons right">arrow_drop_down</i></a></li>
			</ul>
		</div>
	</nav>                
</div>
{% endblock %}

{% block title %}
<div class="center-text">
	<h3><span class="blue-text text-darken-2">Edición de Imagenes</span></h3>	
</div>
{% endblock %}


{% block form %}
<input type="hidden" value="{{imgSrc}}" id="myImageSrc">
<input type="hidden" value="{{imgName}}" id="myImageName">
<div class="myForm">
	<div class="container">
		<canvas id="myCanvas" width="750" height="400">
			Tu navegador no soporta canvas.
		</canvas>
		<div class="fixed-action-btn vertical" style="bottom: 12%; right: 3%;">
			<a class="btn-floating btn-large red">
				<i class="large material-icons">edit</i>
			</a>
			<ul>
				<li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
				<li><a class="btn-floating yellow darken-1" id="btnReload"><i class="material-icons">autorenew</i></a></li>
				<li><a class="btn-floating green" id="btnDownload"><i class="material-icons">file_download</i></a></li>
				<li><a class="btn-floating blue" id="btnOpenModal" href="#modal1"><i class="material-icons">color_lens</i></a></li>
			</ul>
		</div>		
	</div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal bottom-sheet">
	<div class="modal-header" style="text-align:center;">            
		<h6>Seleccione el color del lapiz</h6>
	</div>
	<div class="modal-content">
		<div class="container">
			<div class="container">				
				<div class="row">
					<div data-color="red" class="col s1 m1 l1 red modal-close">
						&nbsp;
					</div>
					<div data-color="blue" class="col s1 m1 l1 blue modal-close">
						&nbsp;
					</div>
					<div data-color="green" class="col s1 m1 l1 green modal-close">
						&nbsp;
					</div>
					<div data-color="yellow" class="col s1 m1 l1 yellow modal-close">
						&nbsp;
					</div>
					<div data-color="black" class="col s1 m1 l1 black modal-close">
						&nbsp;
					</div>
					<div data-color="orange" class="col s1 m1 l1 orange modal-close">
						&nbsp;
					</div>
					<div data-color="teal" class="col s1 m1 l1 teal modal-close">
						&nbsp;
					</div>
					<div data-color="purple" class="col s1 m1 l1 purple modal-close">
						&nbsp;
					</div>
					<div data-color="pink" class="col s1 m1 l1 pink modal-close">
						&nbsp;
					</div>
					<div data-color="brown" class="col s1 m1 l1 brown modal-close">
						&nbsp;
					</div>
					<div data-color="grey" class="col s1 m1 l1 grey modal-close">
						&nbsp;
					</div>
					<div data-color="cyan" class="col s1 m1 l1 cyan modal-close">
						&nbsp;
					</div>															
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/js/editor.js"></script>
{% endblock %}