{% extends 'layout.html' %}

{% block header %}
<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
	<li><a href="#">Perfil</a></li>
	<li><a href="#">Ajustes</a></li>
	<li class="divider"></li>
	<li><a href="/users/login"">Salir</a></li>
</ul>            
<div class="navbar-fixed">
	<nav>
		<div class="nav-wrapper">
			<a href="#" class="brand-logo">Logo</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li class="active"><a href="/home/gallery">Galeria<i class="material-icons right">collections</i></a></li>
				<li><a href="/home/upload">Subir Archivos<i class="material-icons right">file_upload</i></a></li>
				<!-- Dropdown Trigger -->
				<li><a class="dropdown-button" href="#" data-activates="dropdown1">{{user.userName}}<i class="material-icons right">arrow_drop_down</i></a></li>
			</ul>
		</div>
	</nav>                
</div>
{% endblock %}

{% block title %}
<div class="center-text">
	<h3><span class="blue-text text-darken-2">Galería de Imágenes</span></h3>	
</div>
{% endblock %}

{% block form %}
<input type="hidden" id="hfSrcImage">
<input type="hidden" id="hfNameImage">
<input type="hidden" id="hfColor">
<div class="container">
	<p class="center-text">
		Selecciona la imagen que quieras en el centro, y empieza su
		edición dando click en el boton Editar.
	</p>
	<div class="carousel">
		{% for image in images %}
			<a class="carousel-item" href="#{{image.name}}"><img width="200" name="{{image.name}}" height="200" src="{{image.relativeSrc}}"></a>
		{% endfor %}		
	</div>
	<form action="/home/editor" method="POST" id="myForm">
		<input type="hidden" name="imgSrc" id="imgSrc">
		<input type="hidden" name="imgName" id="imgName">	
		<div class="center-btn">
			<button type="button" id="btnEdit" class="waves-effect waves-light btn btn-large disabled" name="action">Editar
				<i class="material-icons right">mode_edit</i>
			</button>
		</div>
	</form>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/js/gallery.js"></script>
{% endblock %}