body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.center-btn, .center-text{ 
	text-align: center;
}

.center-div{
	height: auto;
	width: 95% auto;
}

.myForm{
	margin-top: 3em;
}

.carousel{
	height: 300px !important;
}